/* Main page */
body {
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(0deg, white 0%, white 100%);
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    color: #101010;
}

.homeText {
    color: #101010;
    font-size: 4vw; /* Responsive font size */
    margin-top: 10vh; /* Responsive margin */
    padding-left: 5%; /* Responsive padding */
    padding-right: 5%; /* Responsive padding */
    font-weight: 600;
    word-wrap: break-word;
    text-align: left;
}

.paragraph {
    color: #101010;
    font-size: 2vw; /* Responsive font size */
    margin-top: 5vh; /* Responsive margin */
    padding-left: 5%; /* Responsive padding */
    padding-right: 5%; /* Responsive padding */
    font-family: 'Avenir Next', sans-serif;
    font-weight: 200;
    letter-spacing: 0.1em; /* Responsive letter spacing */
    word-wrap: break-word;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.columnTitle {
    flex: 70%;
  }

.columnText {
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text horizontally */
  }

/* Media Query for Smaller Screens */
@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
    
    .homeText,
    .paragraph {
        font-size: 6vw; /* Adjust font size for smaller screens */
        margin-top: 10vh;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center; /* Center-align text */
    }
}

.primary-button {
    background-color: #ffffff;
    color: #101010;
    width: 100%;
    max-width: 312px;
    height: 80px;
    flex-shrink: 0;
    text-align: center;
    font-family: 'Avenir Next', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.84px;
    cursor: pointer;
    /* Center the button horizontally */
    margin: 0 auto;
}

/* Media Query for Smaller Screens */
@media (max-width: 600px) {
    .primary-button {
        font-size: 14px; /* Adjust font size for smaller screens */
        height: 60px; /* Adjust button height for smaller screens */
    }
}

.menu {
    display: flex;
    gap: 24px;
    flex-direction: row;
    margin-left: 67%;
}

/* About me */
body {
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next', sans-serif;
    background: #ffffff
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.header h1 {
    color: #101010;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 3.84px;
    word-wrap: break-word;
}

.line {
    height: 2px;
    background-color: #101010;
    margin-bottom: 40px;
}

.image-container {
    max-width: 100%;
    overflow: hidden;
    border-radius: 12px;
}

.image-container img {
    width: 100%;
    height: auto;
}

.text {
    color: #101010;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 24px;
    word-wrap: break-word;
}

.paragraph {
    color: #475467;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 48px;
    word-wrap: break-word;
}

/* WORK */
.flex-container-work1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.flex-container-work2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

#card {
    display: flex;
    width: 392px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    margin-bottom: 80px;
    margin-top: 40px;
    word-wrap: break-word
}

#s-title {
    color: #6941C6;
    font-family: 'Avenir Next', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

#m-title {
    color: #101828;
    font-family: 'Avenir Next', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

svg {
    padding-left: 24px;
}

#p-cardText {
    color: #475467;
    font-family: 'Avenir Next', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#chip-category {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    color: #101010;
}

.chip-1 {
    display: flex;
    padding: 2px 10px;
    align-items: center;
    border-radius: 16px;
    border: 1px solid var(--purple-200, #D9D6FE);
    background: var(--purple-50, #F4F3FF);
    mix-blend-mode: multiply;
}

.chip-2 {
    display: flex;
    padding: 2px 10px;
    align-items: center;
    border-radius: 16px;
    border: 1px solid var(--gray-200, #EAECF0);
    background: var(--gray-50, #F9FAFB);
    mix-blend-mode: multiply;
}

.chip-3 {
    display: flex;
    padding: 2px 10px;
    align-items: center;
    border-radius: 16px;
    border: 1px solid var(--gray-200, #EAECF0);
    background: var(--gray-50, #F9FAFB);
    mix-blend-mode: multiply;
}

.chip-4 {
    display: flex;
    padding: 2px 10px;
    align-items: center;
    border-radius: 16px;
    border: 1px solid var(--orange-200, #F9DBAF);
    background: var(--orange-50, #FEF6EE);
    mix-blend-mode: multiply;
}

.secondary-button {
    width: 312px;
    height: 80px;
    flex-shrink: 0;
    background: #101010;
    color: #FFF;
    text-align: center;
    font-family: 'Avenir Next', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.84px;
    cursor: pointer;
    box-sizing: border-box;
}

.secondary-a {
    color: #FFF;
}

a {
    color: #101010;
}

.page-title {
    width: 1192px;
    color: #101010;
    font-family: 'Avenir Next', sans-serif;
    font-size: 208px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
}

.content-text1 {
    margin-top: 48px;

}

.m-title2 {
    color: #101010;
    font-family: 'Avenir Next', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 133.333%;
    align-self: stretch;
}

.content-text2 {
    margin-top: 48px;
    margin-bottom: 80px;
}

.m-title3 {
    color: #101010;
    font-family: 'Avenir Next', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 133.333%;
    align-self: stretch;
}

.page-title2 {
    width: 1192px;
    color: #101010;
    font-family: Avenir Next;
    font-size: 104px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
}

.container-features {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    margin-bottom: 48px;
}

.feature-tabs {
    display: flex;
    padding: 16px 0px 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.tab-title {
    align-self: stretch;
    color: var(--gray-900, #101828);
/* Text xl/Semibold */
    font-family: Avenir Next;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.conclusion-container {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--gray-50, #F9FAFB);
    margin-top: 48px;
}

.conclusion-title {
    align-self: stretch;
    color: #101828;
    font-family: Avenir Next;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
}

.conclusion-text {
    align-self: stretch;
    color: #475467;
    font-family: Avenir Next;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

